<div class="card" style="max-width: 750px;">
  <img class="card-img" src="https://user-images.githubusercontent.com/86047519/138029482-46b163ae-87b2-4b5c-82cd-7f86fded1620.png" alt="トップページ">
  <div class="card-img-overlay">
    <h1 class="text-muted">Task × Tap</h1><br>
    <p class="text-muted">本アプリを使うことで何のタスクを</p>
    <p class="text-muted">どれくらいの時間で行うか感覚の精度を上げ</p>
    <p class="text-muted">一日の行動を有意義にするアプリです</p>
  </div>
</div>