<h1>Task × Tap（タスクバイタップ）トップページ（仮）</h1>
「Task × Tap（略してTXT）」は自身のタスク内容を把握できます。<br><br>
一日をなんとなく過ごし本来予定したタスクや緊急ではないものの改善しようと<br><br>
思っていたプロジェクトに着手できないままに一日を終えたことはありませんか？<br><br>
なんとなくこれくらいの時間でできると思っていても実際は違うこともあります。<br><br>
本アプリを使うことで何をどれくらいの工数で行えるか感覚の精度を上げ<br><br>
前もって工数を含む予定を立てておくこと、一日の終わりに実工数を入力することで<br><br>
自分でスケジュールをコントロールできるようになり、結果一日の行動を有意義に過ごすことができます。<br><br>
