// Place all the styles related to the tops controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.card {
  display: block;
  margin-top: 40px;
  margin-left: auto;
  margin-right: auto;
}

.card-img-overlay {
  padding: 0;
  top: calc(25% - 1.5rem);
  text-align: center;
  height: 30px;
  line-height: 30px;
  font-weight: bold;
}